services:
  participant:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: ${SPIKE_WORKSHOP_IMAGE:-spike_workshop_participant:latest}
    container_name: spikews
    stdin_open: true
    tty: true
    environment:
      ROS_DOMAIN_ID: "25"
      RMW_IMPLEMENTATION: rmw_fastrtps_cpp
    ports:
      - "9090:9090"
    volumes:
      - ./patterns:/patterns
    command: bash

  participant-dev:
    profiles: ["dev"]
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: ${SPIKE_WORKSHOP_IMAGE:-spike_workshop_participant:latest}
    container_name: spikews-dev
    stdin_open: true
    tty: true
    environment:
      ROS_DOMAIN_ID: "25"
      RMW_IMPLEMENTATION: rmw_fastrtps_cpp
    ports:
      - "9090:9090"
    volumes:
      - ./patterns:/patterns
      - ./ros2_ws/src:/ros2_ws/src
    command: bash
